[submodule "librime"]
	path = librime
	url = https://github.com/rime/librime.git
[submodule "boost-iosx"]
	path = boost-iosx
	url = https://github.com/imfuxiao/boost-iosx.git
[submodule "librime-sbxlm"]
	path = librime-sbxlm
	url = https://github.com/sbxlmdsl/librime
