.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
/Frameworks
*.bz2
/lib
*.a
*.apply
.librime
.boost-iosx
.boost
.idea
swift-build.txt
